@font-face {
    font-family: 'DotFont';
    src: url('font/DotFont.woff2');
}
@font-face {
    font-family: 'NonDotFont';
    src: url('font/Regular.otf') ;
}


body {
    margin: 0;
    color: #000;
    background-color: #fff;
    position: relative;    
}
header {
    position: relative;
    height: 60px;
    background-color: #fff;
}
.vertical {
    position: absolute;
    font-size: 120px;
    font-family: 'DotFont', sans-serif;
    margin: 0 -15px;
    writing-mode: vertical-lr;
    z-index: 1;
}
.image {
    position: relative;
    width: 1000px;
    
}
button {
    position: relative;
    width: 100%;
    margin: 10px;
    height: 50px;
    background-color: #002F6C;
    border: #002F6C;
    border-radius: 50px;
    color: #fff;
    transition: width 0.5s ease;
    display: inline-block; 
}
 
#top-bar {
    width: 80%;
    height: 60px;
    position: absolute;
    left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
#nothing {
    font-size: 30px;
    font-weight: 500;
    font-family: 'DotFont', sans-serif;
    cursor: pointer;    
}
#top-center {
    display: flex;
    cursor: pointer; 
}
#top-right {
    display: flex;
    align-items: center;
    cursor: pointer;   
}
#phone,
#audio,
#cmf,
#store,
#community,
#support-top {
    margin: 0 10px ;
}



#ear-open,
#phone-2a-plus,
#cmf-by-nothing,
#community-edition,
#phone-2a-se,
#phone-2a,
#ear,
#ear-a,
#gylph,
#phone-2,
#quotes,
.footer  
{
    position: relative;
    display: flex;
    float: left;
}

.para-button {
    position: relative;
    width: 400px;
    height: 75px;
    bottom: -350px;
    left: 50px;
}
.paragraph {
    font-family: 'NonDotFont';
    font-size: 30px;
}
.paragraph strong{
    font-size: 50px;
}

#quotes {
    padding: 100px;
}
.quote {
    font-size: 30px;
    margin: 0 90px;
    font-family: 'NonDotFont';
}

#phone-2a-plus .vertical {
    color: #fff;
}

#phone-2a .vertical {
    color: #fff;
}

#gylph .vertical {
    color: #fff;
}


footer {
    background-color: #000;
    position: absolute;
    flex-direction: column;
    width: 100%;
    font-family: 'NonDotFont';
}

a {
    text-decoration: none;
    
    color: #fff;
}
#links {
    display: flex;
    border-bottom:2px solid #969595;
    padding: 0 50px ;
    height: 400px;
}
#products {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 50px;
    font-size: large;
}
#company {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 50px;
    font-size: large;
}
#support {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 50px;
    font-size: large;
}
#subscribe {
    width: 20%;
    color: #fff;
    margin: 50px;
}
#join {
    display: flex;
    margin: 10px; 
}
#email {
    width: 150%;
    height: 60px;
    padding: 0 5% ;
    border: 1px solid #fff;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#click {
    width: 30px;
    height: 30px;
    font-family: 'DotFont';
    font-size: 30px;
    cursor: pointer;
}

#footer-bottom {
    width: 80%;
    height: 100px;
    position: relative;
    top: 0;
    display: flex;
    margin: 0 7% ;
    align-items: center;
    justify-content: space-between;
}
#privacy a {
    font-size: large;
    margin: 10px;
}
#social-media a {
    margin: 5px;
}
#location {
    font-size: larger;
    color: #fff;
    text-decoration: underline;
}


/* button:hover {
    width: 105%;
}
#phone:hover,
#audio:hover,
#cmf:hover,
#store:hover,
#community:hover,
#support-top:hover {
    border-bottom: 1px solid #000;
} */
